
body{
    background-color: #000000;

    
   
}



.in{
    text-align: center;
    float: right;
    padding: 5px 20px;
    
}
.in a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    border-radius: 10px;
}

.in  a:hover{
    transition: 1s;
    background-color: rgb(209, 212, 13);
    
}

.inicio{
    background-color:#242423;
}
.Logo{
    width: 350px;
    

}
.lupa{
width: 300px;
height: 35px;
position: relative;
margin-left: -30px;
border: 1px solid;     
background-color:#242423;
border-radius: 15px 0 0 15px;
background-position: 5% 50%;
background-repeat: no-repeat;
background-size: 22px;
transition-duration: 900ms;
cursor: pointer;
overflow: hidden;
background-image:url(Img/logos/lupa.png) ;
z-index: 1;

}



.lupa:focus{
    width: 300px;
    cursor: text;
    padding-left: 40px;
    outline: none;
    background-size: 15px;
    background-position: 10px 50%;
    overflow: hidden;
}

::placeholder{
    color: #0a67e0;;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
}

.search{
    display: flex;
    position: relative;
    bottom: 70px;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    justify-items: center;
    text-align: center;
    z-index: 1;
    
}
.enviar{
border-radius: 0 25px 25px 0;
 height: 36px;
 left: -10px;
}

.enviar:hover{
    background-color: #0a67e0;
}

input{
  position: relative;
  display: inline-block;
  font-size: 15px;
  box-sizing: border-box;
  transition: .5s;
}

.lista{
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    background-color: rgb(0, 0, 0);
    list-style: none;
    padding: 0px;
    margin-top:40px;
    overflow: hidden;
    
}
.listass{
    margin-bottom: -30px;
}

.Deportes{
    position: relative;
    top: -70px;  
    
}


.top{
    width: 60%;
    height: 800px;
    right: 45px;
    margin: 0 auto;
    background-color: #2BA03F;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='68.2' stroke-opacity='0.08' %3E%3Ccircle fill='%232BA03F' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23109944' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23009148' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2300894b' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2300824d' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23007a4e' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2300724f' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23006b4f' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2300634e' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23005b4c' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2300534a' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23004c46' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23004442' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23003d3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23003538' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23002e32' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2300272b' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23042024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    position: relative;
}
.dia{
    padding: 10px;
    margin-bottom: 0px;
   
}

.bets{
    color:  rgb(0, 0, 0);
    background-color: rgba(219, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 50px;

}




.top .images-container{
     
    position: relative;
    border-radius: 10px;
    top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 10px;
    width: 900px;
    margin: 0 auto;
    
}

.top .images-container .bets{
    height: 300px;
    width: 400px;
    overflow: hidden;
    border: 1px solid rgb(87, 84, 70);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px #000000;
}

.top .images-container .bets img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.top .images-container .bets:hover img{
    transform: scale(1.1);
}

.top .popup-image{
    position: fixed;
    top: 0; left: 0;
    background: #171818;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.top .popup-image span{
    position: absolute;
    top: 0; right:10px;
    font-size: 60px;
    font-weight: bolder;
    color: aliceblue;
    cursor: pointer;
    z-index: 100;
}

.top .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 750px;
    object-fit: cover;
}

@media (max-width:768px) {
    .top .popup-image img{
        width: 95%;
        
    }
}


.reglas{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.47'%3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    width: 15%;
    height: 400px;
    padding: 1px;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    top: -820px;
    margin-left: 8px;
}
h1{
    color: aliceblue;
    text-align: center;
    margin: 14px; 
    font-size:20px;
    padding: 0;
}




.listaR{
overflow: hidden;
height: 300px;
padding: 0px;
margin: 0 auto;
overflow-y: scroll;
}

.listaR::-webkit-scrollbar{
    width: 0px;
}

ol{
    padding-top: 0px ;
    margin: 0 auto;
}
.re{
    padding: 10px 0px;
    color: aliceblue;
}
.social{
    background-color: rgb(23, 24, 24);
    width: 15%;
    height: 70px;
    padding: 1px;
    top: -800px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-left: 8px;
    

}


.soc{
    width: 28%;
    height: 95%;
    margin-bottom: 4px;
    margin-left: 30px;
}
.socs{
    width: 58%;
    height: 95%;
    margin-bottom: 5px;
    
}


.redes{
    text-align: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.adver{
    background-color: #171818;
    width: 15%;
    height: 285px;
    padding: 1px;
    margin-left: 8px;
    margin-top: -780px;
    border-radius: 10px;
    
    
}
.gana{
    position: relative;
    margin: 0 auto;
    display: flex;
}
@media (max-width:768px) {
.adver .gana img{
    width: 80%;
    height: 80%;
}
}

.ganador{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 0 auto;

}


.reglass{
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.08'%3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    width: 20%;
    height: 799px;
    padding: 1px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    top: -822px;
    float: right;
    margin-right: 10px;
    margin-bottom: -1000px;
}


.adve{  
    background-color:23,24,24;
    height: 37.5%;  
    border-radius: 10px;
}

.datatable-container{
    color: aliceblue;
    padding: 0px;
    margin: -10px 0px;
    text-align: center;
    display: flex;
    object-fit: contain;
   
    
}

table {
    object-fit: contain;
    width: 100%;
    height: 700px;
    
}

th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

#myTable img{
    width: 15px;
    height: 25px;
}

.green{
    color: green;
}
.red{
    color: red;
}

.par{
    color: rgb(243, 247, 4, .5);
}

tr:nth-child(2) {
    background-color: rgb(8, 80, 8, .4);
}
tr:last-child {
    background-color: rgb(160, 9, 9, .4);

}



